<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="estilos/style.css">
</head>
<body>
    <form action="#" method="post">
        <h1>Login</h1>
        <div class="container">
            <input type="email" name="email" required>
            <label>E-mail</label>
        </div>
        <div class="container">
            <input type="password" name="password" required>
            <label>Senha</label>
        </div>
        <button>Entrar</button>
        <a href="#">Não consegue entrar?</a>
        <a href="../tela-cadastro-conta/index.html">Criar conta</a>
    </form>
</body>
</html>