<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 001</title>
    <link rel="stylesheet" href="estilos/style.css">
</head>
<body>
    <!--Cabeçalho = Banner, logo, formulário de pesquisa, ícones e menu de navegação-->
    <header>Cabeçalho</header>
    
    <nav>Menu</nav>

    <main>Principal</main>

    <aside>Relacionado</aside>

    <!--Rodapé = Informações de autoria, direitos autorais, contato, mapa do site, links e documentos relacionados-->
    <footer>Rodapé</footer>
</body>
</html>