<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 01</title>
    <link rel="stylesheet" href="estilos/style.css">
</head>
<body>
    <header id="top"> 
        <div class="logo">
            
        </div>
    </header>
    
    <nav id="menu"> 

    </nav>
    
    <main id="middle">

        <section id="um" >
            
        </section>

        <section id="dois">
            
        </section>

        <section id="tres">
            
        </section>

        <article> </article>
    
    </main>
    
    <footer id="bottom">
        
    </footer>
</body>
</html>