<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de formulário - Funcionando</title>
</head>
<body>
    <form action="https://formsubmit.co/felipejlc@gmail.com" method="POST">
        <input type="text" name="name" required placeholder="Seu nome">
        <input type="email" name="email" required placeholder="Seu e-mail">
        <button type="submit">Send</button>
   </form>
</body>
</html>