@charset "UTF-8";

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    span.material-symbols-outlined {
        display: none;
    }

    menu {
        display: block;
        background-color: var(--cor3);
        border-top: 1px solid var(--cor0);
        
    }

    menu > ul > li {
        display: inline-block;
    }

    menu > ul > li > a {
        border-top: none;
    }

    main {
        width: 1100px;
    }

    main > section > img {
        display: none;
    }

    div#destaque02 {
        display: inline-block;
        width: 363px;
        height: 360px;
    }

    article > p {
        width: 1000px;
        margin: auto;
        margin-bottom: 20px;    
    }

    article > h2 {
        width: 900px;
        margin: auto;
        margin-bottom: 20px;
    }

    section#form-orcamento {
        width: 50%;
        float: left;
        display: block;
    }
    
    section#img-form-orcamento {
        background-color: lightcoral;
        height: 578px;
        float: right;
        display: block;
        width: 50%;
    }

    
    
    
    
    
    
    
    
    
    
    
    
    main > section#nossosProjetos > img.phone {
        display: none;
    }

    div#destaque02 {
        display: inline-block;
        width: 363px;
        height: 360px;
    }
    
}