@charset "UTF-8";

:root {
    --cor0: #90b1a8; /*Verde claro*/
    --cor1: #244f47; /*Verde médio*/
    --cor2: #1b473e; /*Verde escuro*/
    --cor3: #2a3030; /*Cinza escuro*/

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrão);
}

header#top {
    height: 200px;
    background-color: red;
    /*centraliza a div no meio, tanto na altura quanto na largura*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*centraliza a div no meio, tanto na altura quanto na largura*/
}

header#top > div.logo {
    width: 50%;
    height: 100px;
    background-color: lightgoldenrodyellow;
}

nav#menu {
    height: 50px;
    background-color: yellow;
}

main#middle {
    height: 400px;
    background-color: blue;
    display: flex; /*Deixa uma div ao lado da outra*/
    justify-content: center; /*centraliza as divs horizontalmente*/
    /*align-items: center;*/ /*centraliza as divs verticalmente*/
}

section#um {
    height: 100px;
    width: 34%;
    background-color: black;
}

section#dois {
    height: 200px;
    width: 34%;
    background-color: gray;
}

section#tres {
    height: 300px;
    width: 34%;
    background-color: lightgray;
}

footer#bottom {
    height: 150px;
    background-color: pink;
}